<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Cafe with a Vue</title>
  </head>
  <body>



    

    <div id="app">
      enter.ds video
      <br>
      <button v-on:click="alert('Bonjour')">Cliquez ici !</button>
      <br>
      <button @click="alert('Bonjour')">Cliquez ici ! 2</button>
      <br>

      <button @click="alert('Bonjour')">method</button>


      <div>{{ favoriteColor  }}</div>

      <div>
	Video
	<h2>Montrer ma couleur preferee showColor</h2>
	<button v-on:click="showColor">Cliquez ici !</button>
      </div>


      <!--https://v1.vuejs.org/guide/events.html-->
      <div id="example">
	<button v-on:click="greet">Greet</button>
      </div>

      
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      
      const app = new Vue({
          el: "#app",
          data: {
	      //this.
	      favoriteColor: 'bleu',
	      name: 'Vue.js'

          },
          computed: {
              label() {
		  return ': ' + this.favoriteColor
              }
          },
	  methods:{
	      
	      alertColor(color) {
		  alert('Ma couleur préférée est ' + color)
              },
              changeColor() {
		  console.log('Je veux changer ma couleur préférée !')
		  // Change la propriété data 
		  this.favoriteColor = 'turquoise'
		  // Appelle une méthode différente et passe une propriété calculée 
		  this.alertColor(this.label)
		  
              },

	      /**video*/
	      showColor(){
		  alert(this.favoriteColor)
      //alert("showColor")
	      },

/** https://v1.vuejs.org/guide/events.html */
	      greet: function (event) {
		  // `this` inside methods point to the Vue instance
		  alert('Hello ' + this.name + '!')
		  // `event` is the native DOM event
		  alert(event.target.tagName)
	      },
	      
	  }
      });
    </script>
  </body>
</html>
