<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Cafe with a Vue</title>
  </head>
  <body>
    <div id="app">
      <!-- Si (if) l'utilisateur a les autorisations par défaut, afficher ce qui suit -->
      <section v-if="userPermission === 'defaultVif'">v-if</section>
      <!-- Sinon et si l'utilisateur a les autorisations administrateur, afficher ce qui suit -->
      <section v-else-if="userPermission === 'adminVelseif'">v-else-if</section>
      <!-- Si l'utilisateur n'a aucune autorisation afficher ce qui suit -->
      <section v-else>v-else</section>
      <section v-show="showModal">v-show</section>




<div id="app">
    <ul>
        <li v-for="item in apiResponse">
            <a v-bind:href="item.url">{{ item.name }}</a>
        </li>
    </ul>
</div>



<div id="app">
    <ul>
        <li v-for="item in apiResponse">
            <a :href="item.url">{{ item.name }}</a>
        </li>
    </ul>
</div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      
      const app = new Vue({
          el: "#app",
          data: {
	      //userPermission: 'defaultVif',
	      userPermission:  'adminVelseif',
	      //userPermission:  'adminVelseif3',
	      showModal: true,
	      
	      shoppingCart: [
                  { label: 'Pommes', cost: 6 },
                  { label: 'Bananes', cost: 2 },
                  { label: 'Noix de coco', cost: 8 }
              ],
	      apiResponse: [
                { name: 'GitHub', url: 'https://www.github.com' },
                { name: 'Twitter', url: 'https://www.twitter.com' },
                { name: 'Netlify', url: 'https://www.netlify.com' }
            ]

          },
          computed: {
              copyrightt() {
		  return "Copyright " + this.restaurantName + " 2019";
              },
          },
      });
    </script>
  </body>
</html>
