<!DOCTYPE html>
<html lang="en">

<body>
    <div id="app">
        <h1>Bienvenue chez {{ restaurantName }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                restaurantName: 'Pizza Hut'
            }
        });
    </script>
</body>

</html>