<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Cafe with a Vue</title>
  </head>
  <body>



    

    <div id="app">
      
      <div>
	<div>
	  enter.ds video sur events
	  <br>
	  <h2>Montrer ma couleur preferee enter</h2>
	  <button @click="showColor">Cliquez ici !</button>
 	</div>
	<div>
	  <h2>Changer ma couleur preferee enter : {{ favoriteColor }}</h2>
	  <label for="change-color">Changer la couleur :</label>
	  <input id="change-color" type="text" v-model="favoriteColor"/>
	</div>
      </div>
      <br>

      Suite
      <br>
      <button v-on:click="alert('Bonjour')">Cliquez ici !</button>
      <br>
      <button @click="alert('Bonjour')">Cliquez ici ! 2</button>
      <br>

      <button @click="alert('Bonjour')">method</button>


      <div>{{ favoriteColor  }}</div>

      <div>
	Video
	<h2>Montrer ma couleur preferee ( showColor, pas en temps reel dc bien fr enter )</h2>
	<button v-on:click="showColor">Cliquez ici !</button>
      </div>


      <!--https://v1.vuejs.org/guide/events.html-->
      <div id="example">
	<button v-on:click="greet">Greet</button>
      </div>



      
      <div id="example">
	{{ username }}
	<br>
	<label for="username">Nom d utilisateur</label>
	<br>
	<input id="username" type="text" v-model="username"/>
	<br>
	<br>
	{{ password }}
	<br>
	<label for="pw">Nom d utilisateur</label>
	<br>
	<input id="pw" type="password" v-model="password"/>

      </div>

      
      
      
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      
      const app = new Vue({
          el: "#app",
          data: {
	      //this.
	      favoriteColor: 'bleu',
	      name: 'Vue.js',
	      //!!!!!! set with nothing
	      username:'',
	      password:''

          },
          computed: {
              label() {
		  return ': ' + this.favoriteColor
              }
          },
	  methods:{
	      
	      alertColor(color) {
		  alert('Ma couleur préférée est ' + color)
              },

	      //changeColorVideoevent() {
	      //this.favoriteColor =document.getElementById('change-color').value
	      
	      
              // },
              changeColor() {
		  console.log('Je veux changer ma couleur préférée !')
		  // Change la propriété data 
		  this.favoriteColor = 'turquoise'
		  // Appelle une méthode différente et passe une propriété calculée 
		  this.alertColor(this.label)
		  
              },

	      /**video*/
	      showColor(){
		  alert(this.favoriteColor)
		  //alert("showColor")
	      },

	      /** https://v1.vuejs.org/guide/events.html */
	      greet: function (event) {
		  // `this` inside methods point to the Vue instance
		  alert('Hello ' + this.name + '!')
		  // `event` is the native DOM event
		  alert(event.target.tagName)
	      },
	      
	  }
      });
    </script>
  </body>
</html>
